<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.name %> | Files Bucket</title>
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/file.css" />
    <link rel="stylesheet" href="/css/footer.css" />
</head>
<body>
    <%- include('partials/nav') %>
    <main>
        <div class="wrapper">
            <div class="file_info">
                <p>Name: <%= file.name %></p>
                <p>Size: <%= formatFileSize(file.size) %></p>
                <p>Uploaded: <%= formatDate(file.uploadTime) %></p>
            </div>
            <div class="btns">
                <a href="/file/<%= file.id %>/download" class="download"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  width="25" height="25"><path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg></a>
                <form action="/file/<%= file.id %>/delete" method="post">
                    <button type="submit" class="delete"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg></button>
                </form>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>