<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %> | Files Bucket</title>
  </head>
  <body>
    <%- include('partials/nav') %> 
    <main>
      <div>
        <a href="/file/upload/<%= folder.id %>">
          <button type="button">
            Upload file
            <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
            >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
            d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11zM8 15.01l1.41 1.41L11 14.84V19h2v-4.16l1.59 1.59L16 15.01 12.01 11z"
            />
          </svg>
      </button>
  </a>
  <a href="/folder/create/<%= folder.id %>">
    <button type="button">
          New folder
          <svg
            height="16"
            viewBox="0 0 16 16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m3 1c-1.644531 0-3 1.355469-3 3v8c0 1.644531 1.355469 3 3 3h3c.550781 0 1-.449219 1-1s-.449219-1-1-1h-3c-.5625 0-1-.4375-1-1v-7h11c.5625 0 1 .4375 1 1v1c0 .550781.449219 1 1 1s1-.449219 1-1v-1c0-1.644531-1.355469-3-3-3h-3.585938l-1.707031-1.707031c-.1875-.1875-.441406-.292969-.707031-.292969zm0 2h3.585938l1 1h-5.585938c0-.5625.4375-1 1-1zm8 5v3h-3v2h3v3h2v-3h3v-2h-3v-3zm0 0"
              fill="#2e3436"
              />
            </svg>
        </button>
    </a>
      </div>
      <% if (files.length === 0 && subfolders.length === 0) { %>
          <div>
            <p>Folder is empty</p>
          </div>
      <% } else { %>
        <% subfolders.forEach(folder => { %>
          <div class="folder">
            <a href="/folder/<%= folder.id %>/open">
                <div class="grid_body_name"><%= folder.name %></div>
                <div class="grid_body_size">---</div>
                <div class="grid_body_created"><%= folder.createdAt %></div>
              </tr>
            </a>
            <div class="btns">
              <a href="/folder/<%= folder.id %>/update">
                <button type="button">Update</button>
              </a>'
              <form action="/folder/<%= folder.id %>/delete" method="post">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
          <% }) %>
        <% files.forEach(file => { %>
          <a href="/file/<%= file.id %>/open">
            <div class="grid_body_name"><%= file.name %></div>
            <div class="grid_body_size"><%= file.size %></div>
            <div class="grid_body_created"><%= file.createdAt %></div>
          </a>
        <% }) %>
      <% } %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
